# This is a template .env file. Make a copy of this and rename it to .env, then fill in the values with your own credentials.
    token=YOUR TOKEN HERE
    clientId=YOUR DISCORD BOT CLIENT ID HERE
    twitch_oauth=YOUR TWITCH OAUTH CODE HERE
    twitch_nick=YOUR TWITCH CHANNEL
    twitch_channel=YOUR TWITCH CHANNEL... AGAIN